<ion-header>
  <ion-toolbar>
    <ion-title>Busca por CPF</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <body ng-controller="MyCtrl as ctrl">
    <ion-header class="bar-stable">
      <h1 class="title">Concursos compativeis com a</h1>
    </ion-header>
    
    <ion-content>
        <div class="row header">
          <div class="col">Orgão</div>
          <div class="col">Código do concurso</div>
          <div class="col">Edital</div>
        </div>
        <div class="row" ng-repeat="data in lstConcursos">
          <div class="col">{{this.orgao}}</div>
          <div class="col">{{this.codigo_do_concurso}}</div>
          <div class="col">{{this.edital}}</div>
        </div>
    </ion-content>
  </body>
  
</ion-content>


